HF_TOKEN=x
SMALL_MODEL=google/flan-t5-base
LARGE_MODEL=HuggingFaceH4/zephyr-7b-beta
EMB_MODEL=sentence-transformers/all-MiniLM-L6-v2
CHROMA_DIR=.chroma
PROMPT_LEN_THRESHOLD=220
CHROMA_TELEMETRY_ENABLED=false
HF_HUB_ENABLE_TELEMETRY=0